<div style="display: flex; flex-wrap: wrap">
  <mat-card>Planos Totais<div class="numb"><p>{{plan?.length}}</p></div></mat-card>
  <mat-card style="background-color: mediumturquoise">Planos Em andamento<div class="numb"><p>{{planStatusOne?.length}}</p></div></mat-card>
  <mat-card style="background-color: greenyellow">Planos Concluídos<div class="numb"><p>{{planStatusTwo?.length}}</p></div></mat-card>
  <mat-card style="background-color: yellow">Planos Suspensos<div class="numb"><p>{{planStatusThree?.length}}</p></div></mat-card>
  <mat-card style="background-color: red">Planos Cancelados<div class="numb"><p>{{planStatusFour?.length}}</p></div></mat-card>
</div>

