<section>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      #planList="cdkDropList"
      [cdkDropListData]="plan"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >

      <div
        class="example-box"
        *ngFor="let item of plan"
        [ngSwitch]="item.status"
        cdkDrag
      >

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div style="display: flex;">
                <p>{{ item.name }}</p>
              </div>
            </mat-expansion-panel-header>


        </mat-expansion-panel>



      </div>
    </div>
  </div>

  <!-- <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[planList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div> -->
</section>
