<section>
  <div style="display: flex;flex: 1 0 100%; justify-content: space-around">
    <h2>Planos</h2>
    <button mat-icon-button>
      <mat-icon class="mat-18" (click)="addPlan()">add</mat-icon>
    </button>
  </div>
  <mat-tab-group style="height: 100%">
    <mat-tab label="Todos">
      <div class="example-container">
        <div
          cdkDropList
          #planList="cdkDropList"
          [cdkDropListData]="plan"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of plan"
            [ngSwitch]="item.status"
            cdkDrag
          >
          
            <mat-expansion-panel (click)="$event.stopPropagation()" hideToggle="true" #example>
                
              <mat-expansion-panel-header>
                  <mat-icon *ngIf="!example.expanded">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
                <div style="display: flex; flex: 1 0 40%;">
                  <!-- <button mat-icon-button>
                <mat-icon class="mat-18">expand_more</mat-icon>
              </button> -->
                  <div *ngSwitchCase="0">
                    <p>{{ item.name }}</p>
                    <p>Aguardando Ínicio</p>
                    <p>Sem Prazo Definido</p>
                  </div>

                  <div *ngSwitchCase="1">
                    <p>{{ item.name }}</p>
                    <p>Aberto</p>
                    <p *ngIf="item.beginData != null; else elseBlock">Concluir até {{ item.endData  | date:'dd/MM/yyyy' }}</p>
                  </div>
                  <div *ngSwitchCase="2">
                    <p>{{ item.name }}</p>
                    <p>Concluído</p>
                    <p *ngIf="item.beginData != null; else elseBlock">De {{ item.beginData  | date:'dd/MM/yyyy' }} até {{ item.endData  | date:'dd/MM/yyyy' }}</p>
                  </div>
                  <div *ngSwitchCase="3">
                    <p>{{ item.name }}</p>
                    <p>Suspenso</p>
                    <p *ngIf="item.beginData != null; else elseBlock">Iniciado em {{ item.beginData  | date:'dd/MM/yyyy' }}</p>
                  </div>
                  <div *ngSwitchCase="4">
                    <p>{{ item.name }}</p>
                    <p>Cancelado</p>
                    <p *ngIf="item.beginData != null; else elseBlock">Iniciado em {{ item.beginData  | date:'dd/MM/yyyy' }}</p>
                  </div>
                  <ng-template #elseBlock>Sem Prazo</ng-template>
                </div>

                <div
                  class="userdiv"
                  style="float: right!important; flex: 1 0 40%; margin: auto"
                >
                  <app-userdiv [userid]=item.user></app-userdiv>
                </div>

                <app-settingsbutton [obj]="item"></app-settingsbutton>
              </mat-expansion-panel-header>
              <app-subplans [itemid]="item.id" [sub]="item.childs"></app-subplans>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Aguardando">
      <!-- <div class="example-container">
        <div
          cdkDropList
          #planStatusZeroList="cdkDropList"
          [cdkDropListData]="planStatusZero"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of planStatusZero" cdkDrag>
            <div style="display: flex; flex: 1 0 40%;">
              <button mat-icon-button>
                <mat-icon class="mat-18">expand_more</mat-icon>
              </button>
              <div>
                <p>{{ item.name }}</p>
                <p>Aguardando Ínicio</p>
                <p>Sem Prazo Definido</p>
              </div>
            </div>

            <div style="float: right!important; flex: 1 0 40%;">
              <p>{{ item.user.name }}</p>
              <p>{{ item.user.email }}</p>
            </div>

            <app-settingsbutton></app-settingsbutton>

            <div id="divchilds">
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
            </div>
          </div>
        </div>
      </div> -->
    </mat-tab>

    <mat-tab label="Abertos">
      <!-- <div class="example-container">
        <div
          cdkDropList
          #planStatusOneList="cdkDropList"
          [cdkDropListData]="planStatusOne"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of planStatusOne" cdkDrag>
            <div style="display: flex; flex: 1 0 50%;">
              <button mat-icon-button>
                <mat-icon class="mat-18">expand_more</mat-icon>
              </button>
              <div>
                <p>{{ item.name }}</p>
                <p>Aberto</p>
                <p>Concluir até {{ item.endData }}</p>
              </div>
            </div>

            <div style="float: right!important; flex: 1 0 40%;">
              <p>{{ item.user.name }}</p>
              <p>{{ item.user.email }}</p>
            </div>

            <app-settingsbutton></app-settingsbutton>

            <div id="divchilds">
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
            </div>
          </div>
        </div>
      </div> -->
    </mat-tab>

    <mat-tab label="Concluídos">
      <!-- <div class="example-container">
        <div
          cdkDropList
          #planStatusTwoList="cdkDropList"
          [cdkDropListData]="planStatusTwo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of planStatusTwo" cdkDrag>
            <div style="display: flex; flex: 1 0 50%;">
              <button mat-icon-button>
                <mat-icon class="mat-18">expand_more</mat-icon>
              </button>
              <div>
                <p>{{ item.name }}</p>
                <p>Concluídos</p>
                <p>De {{ item.beginData }} até {{ item.endData }}</p>
              </div>
            </div>

            <div style="float: right!important; flex: 1 0 40%;">
              <p>{{ item.user.name }}</p>
              <p>{{ item.user.email }}</p>
            </div>

            <app-settingsbutton></app-settingsbutton>

            <div id="divchilds">
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
            </div>
          </div>
        </div>
      </div> -->
    </mat-tab>

    <mat-tab label="Suspensos">
      <!-- <div class="example-container">
        <div
          cdkDropList
          #planStatusThreeList="cdkDropList"
          [cdkDropListData]="planStatusThree"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of planStatusThree" cdkDrag>
            <div style="display: flex; flex: 1 0 50%;">
              <button mat-icon-button>
                <mat-icon class="mat-18">expand_more</mat-icon>
              </button>
              <div>
                <p>{{ item.name }}</p>
                <p>Suspensos</p>
                <p>Iniciado em {{ item.beginData }}</p>
              </div>
            </div>

            <div style="float: right!important; flex: 1 0 40%;">
              <p>{{ item.user.name }}</p>
              <p>{{ item.user.email }}</p>
            </div>

            <app-settingsbutton></app-settingsbutton>

            <div id="divchilds">
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
            </div>
          </div>
        </div>
      </div> -->
    </mat-tab>

    <mat-tab label="Cancelados">
      <!-- <div class="example-container">
        <div
          cdkDropList
          #planStatusFourList="cdkDropList"
          [cdkDropListData]="planStatusFour"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of planStatusFour" cdkDrag>
            <div style="display: flex; flex: 1 0 50%;">
              <button mat-icon-button>
                <mat-icon class="mat-18">expand_more</mat-icon>
              </button>
              <div>
                <p>{{ item.name }}</p>
                <p>Cancelados</p>
                <p>Iniciado em {{ item.beginData }}</p>
              </div>
            </div>

            <div style="float: right!important; flex: 1 0 40%;">
              <p>{{ item.user.name }}</p>
              <p>{{ item.user.email }}</p>
            </div>

            <app-settingsbutton></app-settingsbutton>

            <div id="divchilds">
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
              <p>show yourself</p>
            </div>
          </div>
        </div>
      </div> -->
    </mat-tab>
  </mat-tab-group>

  <!-- <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[planList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div> -->
</section>
