
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item>Visão Geral</a>
        <a mat-list-item routerLink="plans">Planos</a>
        <a mat-list-item routerLink="users" (click)="setLocalStorageFalse()">Usuários</a>
        <a mat-list-item routerLink="types" (click)="setLocalStorageTrue()">Tipos de Planos</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
