<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Dados</ng-template>
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name" required />
      </mat-form-field><br />
      <mat-form-field>
        <input matInput [placeholder]="label == 'types' ? 'Descrição' : 'E-mail'" [formControlName]="secondCtrl"
          required />
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button class="stepbtn" mat-button matStepperNext>
          <mat-icon>keyboard_arrow_right</mat-icon>Próximo
        </button>
      </mat-dialog-actions>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Conclusão</ng-template>
    <div>
      <h3>Deseja salvar as mudanças?</h3>
      <button class="stepbtn" mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>Voltar
      </button>
    </div>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Não</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button (click)="save()">Sim</button>
    </mat-dialog-actions>
  </mat-step>
</mat-horizontal-stepper>